html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  line-height: 21px;
  font-size: 16px;
}
.happy-travels-card {
  padding: 60px 20px;
}

h1,
h2 {
  margin: 0;
}
.headline-travels {
  font-size: 28px;
  line-height: 37px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

.headline-services {
  text-align: center;
  font-size: 16px;
  margin-top: 60px;
}

.text {
  text-align: center;
  color: gray;
  font-weight: 300;
  margin: 15px;
}
.line {
  width: 60px;
  border: 2px solid #407bff;
  margin: 10px auto 30px auto;
}

/*Happy traveler picture*/
.happy-traveler {
  margin: 0 auto;
  /* background-image: url(images/happy-traveler.svg);
  background-repeat: no-repeat; */

  width: 350px;
}

.happy-traveler-img {
  width: 100%;
}

/*Buttons*/
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: center;
  justify-self: center;
  margin: 30px;
}
.button {
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  display: inline;
  justify-self: center;
  text-align: center;
  font-size: 14px;
}
.button-adventure {
  background-color: #407bff;
}
.button-chill {
  background-color: #8b8b8b;
}

/*Services*/
.services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: stretch;
 
}

.service-card {
  display: flex;

  gap: 15px;

  width: 100%;
  min-height: 80px;
  height: 100%;

  border: 1px solid #fafafa;
  padding: 20px 15px 20px 15px;
  background-color: white;
  box-shadow: 0px 4px 6px #407bff1f;
  border-radius: 10px;
}

.icon {
  max-height: 40px;
  align-self: center;
  justify-self: center;
}

.card-description {
  align-self: center;
  color: #8b8b8b;
  font-size: 13px;
}

@media screen and (min-width: 640px) {
  .happy-traveler {
    width: 400px;
  }

  .buttons {
    flex-direction: row;
    gap: 20px;
  }

  .services {
    display: flex;
    flex-direction: row;
    flex: 1 1 calc(100% / 3);
    gap: 20px;
  }

  .service-card {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }
}

@media screen and (min-width: 1250px) {
  .happy-travels-card {
    padding: 60px 80px;
  }

  .happy-traveler {
    width: 425px;
    order: 2;
    flex-basis: 55%;

  }
  .happy-traveler-img{
    max-height: 400px;
  }

  .header {
    display: flex;
    padding: 0;
    gap: 95px;
  }
  .header-text {
    order: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-basis: 66%;
  }

  .headline-travels {
    align-self: first baseline;
    margin-top: 70px;
  }
  .line {
    align-self: first baseline;
    margin: 10px 0 30px 0;
  }

  .text {
    align-self: first baseline;
    text-align: left;
    margin: 0;
  }

  .buttons {
    align-self: first baseline;
    margin: 30px 0 40px 0;
  }

  .services {
     gap: 20px;
    margin: 40px 0;
    
    flex-basis: 60%;
  }

  .services-agency,
  .services-delegate {
    display: flex;
    gap: 60px;
  }
  
  .services-description {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
  }

  .headline-services {
    align-self: first baseline;
    text-align: left;
  }

  .services-agency .services-description {
    order: 2;
  }

  .services-agency .services {
    order: 1;
  }
}
